.product-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-right {
    text-align: left;
}

.product-shop .product-right .product-name {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .product-shop .product-right .product-name {
        display: block;
    }
}
/* queries for iPad Pro */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .product-shop .product-right .product-name {
        display: block;
    }
  }


.product-right .product-name h1 {
    font-size: 90px;
    font-weight: 700;
}