.product-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-right {
    text-align: left;
}

.product-shop .product-right .product-name {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .product-shop .product-right .product-name {
        display: block;
    }
}

/* queries for iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .product-shop .product-right .product-name {
        display: block;
    }
}


.product-right .product-name h1 {
    font-size: 90px;
    font-weight: 700;
}

.price-info {
    max-width: 70%;
    margin-bottom: 10px;
}

.product-info .product-info-text {
    color: #8c8c8c;
}

.product-options .form-group .form-control {
    border-radius: 8px;
    height: 55px;
    padding: 11px;
}

/* input size for desktop */
@media (min-width: 1281px) {

    .product-options .form-group .form-control {
        width: 64%;
    }

}

.product-options button {
    background: #F40000;
    border-radius: 8px;
    width: 185px;
    padding: 11px;
}

@media only screen and (max-width: 479px) {
    .product-options button {
        width: 100%;   
    }
}

.input-value {
    word-wrap: break-word;
}

.input-value p {
    font-weight: 700;
}