.product-img-box {
    outline: none;
    position: relative;
    text-align: center;
    border: none;
}

.product-img {
    max-height: 750px;
    margin: 0px auto;
}

/* mobile phones */
@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .product-img {
        max-height: 585px;
    }

    .product-img-box {
        margin-top: 0 !important;
    }
}

@media only screen and (min-width: 1200px) {
    .product-thumbnail .product-name {
        display: none;
    }
}

/* queries for iPad Pro (portrait) */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .product-thumbnail .product-name {
        display: none;
    }
}

.product-thumbnail .product-name h2 {
    font-weight: 700;
    font-size: 3.2rem;
}

.product-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-right {
    text-align: left;
}

.product-shop .product-right .product-name {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .product-shop .product-right .product-name {
        display: block;
    }
}

/* queries for iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .product-shop .product-right .product-name {
        display: block;
    }
}


.product-right .product-name h1 {
    font-size: 90px;
    font-weight: 700;
}

.price-info {
    max-width: 70%;
    margin-bottom: 10px;
}

.product-info .product-info-text {
    color: #8c8c8c;
}

.product-options .form-group .form-control {
    border-radius: 8px;
    height: 55px;
    padding: 11px;
}

/* input size for desktop */
@media (min-width: 1281px) {

    .product-options .form-group .form-control {
        width: 64%;
    }

}

.product-options button {
    background: #F40000;
    border-radius: 8px;
    width: 185px;
    padding: 11px;
}

@media only screen and (max-width: 479px) {
    .product-options button {
        width: 100%;
    }
}

.input-value {
    position: absolute;
    word-wrap: break-word;
    width: 195px;
    height: 66px;
    top: 351px;
    margin-left: 30%;
    line-height: 100%;
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .input-value {
        position: absolute;
        word-wrap: break-word;
        width: 152px;
        height: 47px;
        top: 348px;
        margin-left: 27%;
        line-height: 91%;
    }
}

.input-value p {
    font-weight: 700;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    color: white;
}