.navbar {
    background-color: #eeeeee;
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .navbar-brand {
        width: auto;
        left: 50%;
    }

    .fa-shopping-cart:before {
        font-size: 24px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .dropdown-menu {
        left: -112px;
    }
}

@media (min-width: 1281px) {
    .nav-link svg {
        padding-bottom: 5px;
    }

    .fa-shopping-cart:before {
        font-size: 20px;
    }
}