.navbar {
    background-color: #eeeeee;
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .navbar-brand {
        width: auto;
        left: 50%;
    }

    .fa-shopping-cart:before {
        font-size: 24px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .dropdown-menu {
        left: -112px;
    }
}

@media (min-width: 1281px) {
    .nav-link svg {
        padding-bottom: 5px;
    }

    .fa-shopping-cart:before {
        font-size: 20px;
    }
}

.cart-price {
    position: absolute;
    background: #ff4c3b;
    width: 30px;
    height: 20px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    font-weight: 700;
    top: 19px;
    right: 389px;
    padding: 3px;
}

@media only screen and (max-width: 1199px) and (min-width: 374px) {
    .cart-price {
        top: 18%;
        right: 4%;
    }
}